* body {
  font-family: 'Space Grotesk', 'Source Han Sans', sans-serif !important;
  background-color: #f9f9f9;
  height: 100%;  /* Tam yükseklik */
  margin: 0; /* Varsayılan margin sıfırlanmalı */
  scrollbar-width: none;  /* Firefox için */
  scroll-behavior: smooth;
  
}
.scrollable-container {
  height: 100vh; /* Görünür alan yüksekliği */
  overflow-y: scroll; /* Yalnızca dikey kaydırma */
  width: 0;
}
/* Webkit tabanlı tarayıcılar (Chrome, Safari) için scrollbar'ı gizle */
*::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
}
::-webkit-scrollbar {
  display: none;
  width: 0;

}

:root{
  --darkpurple: #470069;
  --purple: #7F03BB;
  --lightpurple: #BB58FF;
  --blue: #1733B8;
  --white: #efeeec;
}

* {
  scrollbar-width: none;  /* Firefox için */
  -ms-overflow-style: none;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card-body {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}

.card:hover .card-body {
  background-color: rgba(255, 255, 255, 1); /* Hover ile kart alt kısmı daha belirgin olur */
}

.card:hover .p-3 {
  opacity: 1; /* Hover olduğunda detaylar görünür */
}

.card {
  position: relative;
}

.card:hover {
  transform: scale(1.05); /* Hover efektinde büyüme */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hoverda gölge ekleme */
}

.custom-line {
  border: none;
  height: 1px;  /* Controls thickness */
  background-color: #333;  /* Color of the line */
  width: 50%;  /* Length of the line (adjust to your preference) */
  margin: 20px auto;  /* Adds margin to center it and provide space around */
}
.achievement-icon {
  width: 80px;
  height: 80px;
  font-size: 24px;
}
/* Transparan navbar için */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.4); /* Hafif şeffaf siyah */
  backdrop-filter: blur(10px); /* Blur efekti */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Solid navbar için */
.navbar-solid {
  background-color: white; /* Düz beyaz */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
