* body {
  font-family: 'Space Grotesk', 'Source Han Sans', sans-serif !important;
  background-color: #f9f9f9;
  height: 100%;  /* Tam yükseklik */
  margin: 0; /* Varsayılan margin sıfırlanmalı */
  scrollbar-width: none;  /* Firefox için */
  scroll-behavior: smooth;
  
}
.scrollable-container {
  height: 100vh; /* Görünür alan yüksekliği */
  overflow-y: scroll; /* Yalnızca dikey kaydırma */
  width: 0;
}
/* Webkit tabanlı tarayıcılar (Chrome, Safari) için scrollbar'ı gizle */
*::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
}
::-webkit-scrollbar {
  display: none;
  width: 0;

}

:root{
  --darkpurple: #470069;
  --purple: #7F03BB;
  --lightpurple: #BB58FF;
  --blue: #1733B8;
  --white: #efeeec;
}

* {
  scrollbar-width: none;  /* Firefox için */
  -ms-overflow-style: none;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card-body {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}

.card:hover .card-body {
  background-color: rgba(255, 255, 255, 1); /* Hover ile kart alt kısmı daha belirgin olur */
}

.card:hover .p-3 {
  opacity: 1; /* Hover olduğunda detaylar görünür */
}

.card {
  position: relative;
}

.card:hover {
  transform: scale(1.05); /* Hover efektinde büyüme */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hoverda gölge ekleme */
}
.no-hover:hover {
  transform: none !important;
  box-shadow: none !important;
}

.custom-line {
  border: none;
  height: 1px;  /* Controls thickness */
  background-color: #333;  /* Color of the line */
  width: 50%;  /* Length of the line (adjust to your preference) */
  margin: 20px auto;  /* Adds margin to center it and provide space around */
}
.achievement-icon {
  width: 80px;
  height: 80px;
  font-size: 24px;
}
/* Transparan navbar için */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.4); /* Hafif şeffaf siyah */
  backdrop-filter: blur(10px); /* Blur efekti */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Solid navbar için */
.navbar-solid {
  background-color: white; /* Düz beyaz */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.btn:hover {
 color: #efeeec;
 background-color: #162f65;
 border-color: #162f65;
 
}

.btn{
  color:#162f65;
  border-color: #162f65;
  font-size: 15px;
    font-weight: 700;
}
/* Hamburger menü ikonunun rengini beyaz yap */
.navbar-toggler-icon {
  border-radius: 5px; /* İkonu yuvarlak yap */
  background-color: rgba(188, 188, 188, 0.2);
  color: white;
  
margin: 0;}

/* Hamburger menü düğmesinin üzerine gelindiğinde renk değişimi */
.navbar-toggler:hover {
  background-color: #BB58FF !important; /* Tıklandığında arka plan rengini değiştir */
}
.navbar-toggler{
  padding: 0;
  border-width: 0;
}

/* Navbar'da toggler açıkken ve menü açıldığında yükseklik arttırılıyor */
.navbar-collapse.collapse.show {
  height: 100vh !important; /* Menünün içeriğine göre yükseklik ayarlanıyor */
  background-color: rgba(41, 2, 67, 0.9); /* %50 şeffaf mor */
  padding-left: 20px;
  position: fixed;
  width: 100%;
left: 0px;
right: 0px;
top: 80px;
padding-top: 60px;
}

.navbar-collapse.collapse.show .nav-link.text-dark,
.navbar-collapse.collapse.show .nav-link.text-light,

.navbar-collapse.collapse.show .navbar-nav .text-dark,
.navbar-collapse.collapse.show .navbar-nav .text-light
 {
  color: white !important;
  font-size:24px ;
  font-weight: 700 ;
  padding-left: 30px;
  letter-spacing: 0.1em;
}

.navbar-nav .nav-link:hover {
  color: #470069; /* Hover rengi */
}

/* Navbar collapse animasyonu */
.navbar-collapse {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Navbar açıldığında görünürlük sağlamak */
.navbar-collapse.show {
  opacity: 1;
  visibility: visible;
}

/* Mobilde menü öğelerinin animasyonu */
@media (max-width: 992px) {
  .navbar-nav .nav-link {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px); /* İlk başta yukarı kaymış gibi görünsün */
  }

  .navbar-collapse.show .nav-link {
    opacity: 1;
    transform: translateY(0); /* Linkler normal konumuna gelir */
  }
}

/* Büyük ekranlarda linkler her zaman görünür */
@media (min-width: 993px) {
  .navbar-collapse {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .navbar-nav .nav-link {
    opacity: 1 !important;
    transform: translateY(0) !important; /* Animasyon olmasın */
  }
}

/* Linklerin üzerine tıklanabilirken stil değişikliği */
.navbar-nav .nav-link:hover {
  color: #470069; /* Hover rengi */
}






